*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../imgs/back_img.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
